.profile {
  padding-top: 60px;
  width: 100%;
}

.admin,
.user-profile {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0 80px;
}
// admin-form

.admin-form-container {
  // margin-top: 80px;
  width: 40%;
}

.admin-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.admin-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

// admin list
.admin-list {
  width: 40%;
}

.admin-list li {
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid var(--grey);
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}

.admin-list li:hover {
  background-color: var(--black);
  color: var(--white);
}

.admin-list img {
  height: 50px;
}

// admin display

.admin-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.admin-display button {
  margin-top: 10px;
  width: 300px;
}

.display-back-btn {
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--fourth) 5%,
    var(--offfourth) 100%
  );
  background-color: var(--fourth);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 40px;
  margin-top: 30px;
  justify-content: center;
  width: 200px;
}

.display-back-btn:hover {
  background: linear-gradient(
    to bottom,
    var(--offfourth) 5%,
    var(--fourth) 100%
  );
  background-color: var(--offfourth);
}

.display-back-btn p {
  color: var(--white);
  font-size: 1.2rem;
}
