.profile {
  padding-top: 60px;
  width: 100%;
}

.admin,
.user-profile {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0 80px;
}

@media only screen and (max-width: 1250px) {
  .admin,
  .user-profile {
    justify-content: center;
  }
}

.admin-form-container {
  // margin-top: 80px;
  width: 40%;
}

.admin-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.admin-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

// admin list
.admin-list {
  position: relative;
  width: 40%;
}

@media only screen and (max-width: 1250px) {
  .admin-list {
    left: 20px;
    position: absolute;
    top: 70px;
    width: auto;

    background-color: var(--white);
    border: 1px solid var(--black);
    width: 180px;
  }
}

.admin-list-top {
  align-items: center;
  border-bottom: 1px solid var(--grey);
  display: flex;
}

.admin-list-icon {
  cursor: pointer;
  font-size: 2.2rem;
  position: absolute;
  right: 10px;
}

.admin-list h1 {
  color: var(--black);
  padding-bottom: 5px;
}

.admin-list ul {
  max-height: 70vh;
  height: 100%;
  // min-height: 400px;
  overflow: scroll;
}

.admin-list-hidden {
  display: none;
}

.admin-list li {
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid var(--grey);
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}

.admin-list li:hover {
  background-color: var(--black);
  color: var(--white);
}

@media only screen and (max-width: 1250px) {
  .admin-list li:hover {
    border: 1px solid var(--white);
  }
  .admin-list-div {
    display: none;
  }
}

.admin-list img {
  height: 50px;
}

.profile-list-empty {
  margin-top: 40px;
}

.profile-list-empty h4 {
  color: var(--black);
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.profile-list-empty h6 {
  color: var(--third);
  cursor: pointer;
  font-size: 1.1rem;
}

.profile-list-empty h6:hover {
  color: var(--black);
}

// admin display
//---------------------------------------------------

.admin-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

@media only screen and (max-width: 1100px) {
  .admin-display {
    margin-bottom: 70px;
  }
}

.admin-display-buttons {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.display-back-btn {
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--fourth) 5%,
    var(--offfourth) 100%
  );
  background-color: var(--fourth);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 40px;
  margin-top: 30px;
  justify-content: center;
  width: 200px;
}

.display-back-btn:hover {
  background: linear-gradient(
    to bottom,
    var(--offfourth) 5%,
    var(--fourth) 100%
  );
  background-color: var(--offfourth);
}

.display-back-btn p {
  color: var(--white);
  font-size: 1.2rem;
}

.display-delete-btn {
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--warning) 5%,
    var(--offwarning) 100%
  );
  background-color: var(--warning);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 40px;
  margin-top: 30px;
  justify-content: center;
  width: 200px;
}

.display-delete-btn:hover {
  background: linear-gradient(
    to bottom,
    var(--offwarning) 5%,
    var(--warning) 100%
  );
  background-color: var(--offwarning);
}

.display-delete-btn p {
  color: var(--white);
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .admin-display-buttons {
    width: 250px;
  }

  .display-back-btn,
  .display-delete-btn {
    margin-top: 15px;
    width: 100px;
  }
}
