.profile {
  padding-top: 60px;
  width: 100%;
}

.admin {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0 80px;
}
// admin-form

.admin-form-container {
  // margin-top: 80px;
  width: 40%;
}

.admin-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.admin-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

// admin list
.admin-list {
  width: 40%;
}

.admin-list li {
  cursor: pointer;
  margin-top: 10px;
}

.admin-list li:hover {
  background-color: var(--black);
  color: var(--white);
}

// admin display

.admin-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.admin-display button {
  margin-top: 10px;
  width: 300px;
}
