#question-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  width: 250px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 330px;
  position: relative;
}

.results-container li,
.question li {
  color: var(--third);
  cursor: pointer;
  margin-top: 10px;
}

.question li:hover,
.results-container li:hover {
  color: var(--black);
}

.question h3 {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
}

.question-radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 20px;
}

.question-radio input {
  margin-top: 5px;
}
