.question {
  // margin-top: 40px;
}

.question li {
  color: var(--third);
  cursor: pointer;
  margin-top: 10px;
}

.question li:hover {
  color: var(--black);
}

.question h3 {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 40px;
}

.question-radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
}

.question-radio input {
  margin-top: 5px;
}
