.shoe {
  background-color: var(--black);
  border: 1px solid var(--black);
  border-radius: 5px;
  display: flex;
  // flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 600px;
}

.shoe h1 {
  align-self: center;
  color: var(--white);
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.shoe-image {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.shoe-image img {
  max-height: 300px;
  max-width: 300px;
}

.shoe-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 300px;
}

.shoe-lower {
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
}

.shoe-lower p {
  margin-left: 10px;
  margin-top: 10px;
}

.shoe-control {
  display: flex;
  margin-top: 10px;
}

.shoe-link-btn {
  align-items: center;
  background: linear-gradient(to bottom, var(--third) 5%, var(--offthird) 100%);
  background-color: var(--third);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 200px;
}

.shoe-link-btn:hover {
  background: linear-gradient(to bottom, var(--offthird) 5%, var(--third) 100%);
  background-color: var(--offthird);
}

.shoe-link-btn p {
  color: var(--white);
  font-size: 1.2rem;
}
