@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.splash {
  display: flex;
  padding-top: 70px;
  // height: 500px;
}

@media only screen and (max-width: 768px) {
  .splash {
    justify-content: center;
    padding-top: 0px;
  }
}

.splash-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  width: 50%;
}

.splash-left h1 {
  color: var(--black);
  font-size: 3rem;
  font-weight: 700;
  margin-top: 80px;
  text-align: center;
}

.splash-left h6 {
  color: var(--grey);
  font-size: 1.2rem;
  margin-bottom: 80px;
  margin-top: 50px;
  text-align: center;
  width: 300px;
}

.splash-left-btn {
  align-items: center;
  background: linear-gradient(to bottom, var(--third) 5%, var(--offthird) 100%);
  background-color: var(--third);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 10px;
  width: 250px;
}

.splash-left-btn:hover {
  background: linear-gradient(to bottom, var(--offthird) 5%, var(--third) 100%);
  background-color: var(--offthird);
}

.splash-left-btn p {
  color: var(--white);
  font-size: 1.2rem;
}

.splash-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .splash-right {
    display: none;
  }

  .splash-search-left {
    display: none;
  }

  .splash-search {
    display: block;
    margin-top: 150px;
  }
}

.splash-search div {
  animation: rotation 8s infinite linear;
}

.splash-right p {
  color: var(--third);
  margin-top: 20px;
  text-align: center;
}
